.table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0 5px; 
  &__tabs {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    & button {
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      padding: 4px 8px;
      margin: 4px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 4px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      &:hover {
        background: $orange2;
        transition: all 0.3s ease-in-out;
      }
      &.active {
        color: $orange1;
        border-bottom: 4px solid $orange1;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  & thead {
    background: transparent;
    color: #333;
    & tr th {
      font-weight: 500;
      font-size: 14px;
    }
  }
  & tbody {
    & tr {
      width: 100%;
      height: 70px;
      text-align: center;
      background: transparent;
      border: none;
      & td {
        background: $orange3;
        height: 100%;
        &:first-child { border-radius: 4px 0 0 4px; }
        &:last-child { border-radius: 0 4px 4px 0; }
      }
      & .td__product {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        padding: 0 5px;
        &-id {
          font-size: 12px;
          font-weight: 300;
          &.highlight {
            background: $orange1;
          }
        }
        &-image {
          height: 50px;
          width: 50px;
          border-radius: 8px;
        }
        &-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0 5px;
          height: 100%;
          width: 100%;
        }
        &-name {
          font-size: 16px;
        }
        &-bakery {
          font-size: 12px;
          color: #333;
        }
        &-price {
          height: 100%;
          font-size: 16px;
          font-weight: 400;
          color: $orange2;
          border-left: 1px solid #ffffff;
          &-total {
            font-size: 16px;
            font-weight: 500;
            color: $orange1;
          }
        }
        &-date {
          font-size: 12px;
          font-weight: 300;
          color: #333;
        }
        &-qty {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 70px;
          width: 100%;
          & button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            margin: 0 5px;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            background: transparent;
            font-size: 16px;
            &.minus {
              color: $red1;
            }
            &.plus {
              color: $green1;
            }
          }
        }
        &-status {
          & span {
            font-size: 12px;
            color: #ffffff;
            padding: 2px 8px;
            border-radius: 24px;
            &.init {
              background: $blue1;
            }
            &.fail {
              background: $red1;
            }
            &.correct {
              background: $green1;
            }
          }
        }
      }
      & textarea {
        justify-self: flex-end;
        width: 100%;
        max-width: 300px;
        height: 70px;
        margin: 5px 10px;
        border-radius: 16px;
        background: $white2;
        border: none;
        outline: none;
        font-size: 14px;
        font-family: $fontFamily;
      }
    }
  }
  
  
  & button {
    width: 50px;
    height: 25px;
    margin: 5px;
    font-family: $fontFamily;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    &.edit {
      background: $yellow1;
    }
    &.show {
      background: $white1;
    }
    &.delete {
      background: $red1;
    }
    &.highlight {
      width: auto;
      background: $orange1;
    }
  }
  & .qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & h6 {
      color: $orange1;
      font-size: 14px;
    }
    & button {
      color: #fff;
      margin: 0 5px;
      border: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      &.minus {
        background: $red1;
      }
      &.plus {
        background: $green1;
      }
    }
  }
  &__emptyCell {
    background: #fff !important;
  }
}