@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
$orange1: #dc934f;
$orange2: #DDB086;
$orange3: #e7dcdc;
$blue: #182D56;
$white1: #ffffff;
$white2: #eceae7;
$red1: #ff1744;
$yellow1: #ffff72;


$fontFamily: 'Poppins', sans-serif;